<div class="about-me-panel">
    <div class="me-tit">More About Me</div>
    <div class="paragraph">
        <div class="one">Lorem <span class="italic"> dolor sit amet</span>, consectetur adipiscing elit. Sit amet accumsan, molestie mauris, vitae duis. Lobortis et sodales porta in. Porttitor accumsan massa mattis et facilisis malesuada mi a faucibus. Viverra arcu laoreet
            nam id placerat. Nec lacinia ut pharetra, at turpis.
        </div>
        <div class="two">Magna sed tincidunt nibh felis vestibulum. Sagittis, sagittis <span class="italic">
             dui purus adipiscing</span> amet, blandit leo, mauris eget. Condimentum libero bibendum integer mauris vitae in tincidunt id. Quam pharetra vitae vitae magnis nisl tristique. Massa elit a, odio vitae, blandit lacus.
        </div>
    </div>
</div>