.profile-photo-card {
    position: relative;
    padding-top: 500px;
}

.profile-image img {
    width: 207px;
    height: 278px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0px 10px 20px rgba(28, 100, 242, 0.04), 0px 2px 6px rgba(28, 100, 242, 0.04), 0px 0px 1px rgba(28, 100, 242, 0.04);
    position: absolute;
    left: 102px;
    top: 120px;
    z-index: 3;
}

#pro-one {
    width: 140px;
    height: 241px;
    background: #1C64F2;
    position: absolute;
    left: 86px;
    top: 104px;
}

#pro-two {
    width: 140px;
    height: 241px;
    background: #1C64F2;
    position: absolute;
    left: 185px;
    top: 173px;
}