<div class="profile-photo-card">
    <div id="pro-one" class="bg-pattern"></div>
    <div class="profile-image"> {% image "profile.jpg", "Image alt" %}</div>
    <div id="pro-two" class="bg-pattern"></div>
</div>