<div class="project-panel">
        <div class="project-image">{% image "project.jpg", "Image alt" %}</div>
        <div class="project-about">
            <h3 class="project-title">Custom E-commerce Frontend </h3>

            <div class="project-details">
                <p> ipsum dolor sit amet, consectetur adipiscing elit. Ut sed ut tristique tortor orci mattis. Blandit mattis amet nunc molestie sed ultrices arcu nulla. Aliquam feugiat volutpat id vulputate ipsum volutpat ac eget.</p>
            </div>

            <div class="project-stack">
                <span>VueJS</span>
                <span class="second">Shopify API</span>
            </div>
            <div class="project-links">
                <div class="project-link">
                    <div class="project-icon">
                        {% icon "code" %}
                    </div>
                    <a href="#!">Source code</a>
                </div>
                <div class="project-link">
                    <div class="project-icon">
                        {% icon "visibility" %}
                    </div>
                    <a href="google.com">Website</a>
                </div>
            </div>
        </div>
</div>