<div class="skills-card">
    <div class="skill-tit">Skills</div>
    <p class="skill-des">These are the languages, frameworks, tools and technologies that I work with</p>
    <div class="skills">
        <div class="skill-set">
            <div class="skill-name">Languages</div>
            <div class="skill-list">
                <div>JS</div>
                <div>CSS</div>
                <div>HTML</div>
                <div>Python</div>
                <div>C</div>
            </div>
        </div>
        <div class="skill-set">
            <div class="skill-name">Frameworks</div>
            <div class="skill-list">
                <div>ReactJS</div>
                <div>VueJS</div>
                <div>Angular</div>
                <div>ExpressJS</div>
                <div>NodeJS</div>
            </div>
        </div>
        <div class="skill-set">
            <div class="skill-name">Tools</div>
            <div class="skill-list">
                <div>MongoDB</div>
                <div>Git&Github</div>
                <div>Bash</div>
            </div>
        </div>
        <div class="skill-set">
            <div class="skill-name">Design</div>
            <div class="skill-list">
                <div>Figma</div>
                <div>Wireframe</div>
            </div>
        </div>

    </div>

</div>