<div class="contact-panel">
    <div class="name">
        <p class="tittle">Name<span class="star">*</span></p>
        <input type="text" placeholder="Allen Francis" class="form-name form-input">
    </div>
    <div class="contact-name">
        <p class="tittle">Email<span class="star">*</span></p>
        <input type="email" placeholder="AllenFrancis@exampl.com" class="form-email form-input">

    </div>
    <div class="content">
        <p class="tittle" for="content">Content<span class="star">*</span></p>
        <textarea id="content" rows="10" placeholder="Let me know your thoughts !" class="form-thought form-input"></textarea>

    </div>
</div>