    .contact-panel {
        background-color: #ffffff;
        border-radius: 6px;
    }
    
    .tittle {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        color: #1B1F3B;
        margin-bottom: 0px;
    }
    
    .star {
        color: red;
    }
    
    .form-input {
        background-color: #F1F5F9;
        border-radius: 6px;
        border: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        color: rgba(27, 31, 59, 0.6);
        width: 100%;
        padding: 1rem;
        font-size: 14px;
    }