.exp-tittle {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #1B1F3B;
}

.exp-company {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1B1F3B;
}

.exp-duration {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0B42C1;
    margin: 6px 0 6px 0;
}

.exp-role {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 16px;
}

.exp-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.exp-first {
    margin-top: 16px;
    margin-bottom: 20px;
}

.exp-points {
    margin-bottom: 8px;
}