<div class="experience-card">
    <div class="exp-tittle">Experience</div>
    <div class="exp-first">
        <div class="exp-company">Random Company</div>
        <div class="exp-duration">Dec 2019 - present</div>
        <div class="exp-role">Software Developer</div>
        <ul class="exp-list">
            <li class="exp-points">Nisl, ultrices leo pharetra nibh sed feugiat sit.</li>
            <li class="exp-points">Sed auctor condimentum vivamus pellentesque morbi facilisis.</li>
            <li class="exp-points">Eget enim a eget facilisis.</li>
            <li class="exp-points">Nulla nec fermentum cursus erat egestas dictumst erat sit feugiat.</li>

        </ul>
    </div>
    <div class="exp-second">
        <div class="exp-company">Another Company</div>
        <div class="exp-duration">Dec 2019 - present</div>
        <div class="exp-role">Junior Frontend Developer</div>
        <ul class="exp-list">
            <li class="exp-points">Nisl, ultrices leo pharetra nibh sed feugiat sit.</li>
            <li class="exp-points">Sed auctor condimentum vivamus pellentesque morbi facilisis.</li>
            <li class="exp-points">Eget enim a eget facilisis.</li>
            <li class="exp-points">Nulla nec fermentum cursus erat egestas dictumst erat sit feugiat.</li>

        </ul>
    </div>

</div>