.client-says {
    min-width: 315px;
    max-width: 320px;
    min-height: 268px;
    padding: 16px;
}

.client-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    font-weight: 500;
    font-size: 16px
}

.client-image img {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    object-fit: cover;
}

.client-details {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    justify-content: center;
}

.review {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    color: #000000;
}

.review p:nth-child(1) {
    margin-top: 4px;
}

.name {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1B1F3B;
}

.company-name {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(27, 31, 59, 0.8);
    margin-top: 4px;
}

.star-icon {
    color: #F05252;
    margin-top: 14px;
}

.star-icon svg {
    width: auto;
    height: 18px;
}