<div class="client-says">
        <div class="client-name">
            <div class="client-image"> {% image "client.jpg", "Image alt" %}</div>
            <div class="client-details">
                <div class="name">client name</div>
                <div class="company-name">Company Name</div>
            </div>
        </div>
        <div class="star">
            <div  class="star-icon"> {% icon "star" %} {% icon "star" %}{% icon "star" %}{% icon "star" %}{% icon "star" %}</div>
        </div>
        <div class="review">
            <p>
                In nisi vestibulum mattis pulvinar lacus phasellus hendrerit adipiscing. Venenatis nisl risus scelerisque consectetur ornare diam lectus sit.
            </p>
            <p>
                Tristique auctor congue aliquet et auctor feugiat adipiscing. Convallis lectus tincidunt adipiscing a sagittis sit pharetra bibendum tincidunt. Etiam volutpat ac mi porttitor elementum consectetur in.
            </p>
        </div>
    </div>