<div class="copyright-card">
    <div class="socialmedia-icons">
        <div class="social-icon">{% icon "email" %}</div>
        <div class="social-icon">{% icon "github" %}</div>
        <div class="social-icon">{% icon "linkedin" %}</div>
        <div class="social-icon">{% icon "instagram" %}</div>
    </div>
    <div class="owner">
        Copyright 2021 | Allen Francis
    </div>

</div>