.copyright-card {
    text-align: center;
}

.socialmedia-icons {
    display: flex;
    justify-content: center;
}

.social-icon svg {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
}

.owner {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #1B1F3B;
}