---
layout: default
title: Hello world
htmlClass: html
bodyClass: body
---
{% from "components/button/button.njk" import button %}
{% from "components/service-card/service-card.njk" import serviceCard %}
{%include "components/client-review-card/client-review-card.njk"%}
{%include "components/project-card/project-card.njk"%}
{%include "components/contact-card/contact-card.njk"%}
{%include "components/about-me-card/about-me-card.njk"%}
{%include "components/skills-card/skills-card.njk"%}
{%include "components/copyright-card/copyright-card.njk"%}
{%include "components/experience-card/experience-card.njk"%}
{%include "components/myself-card/myself-card.njk"%}



{{button("testing the button")}}
{{serviceCard("frontend development", "cart")}}
