* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 6px;
    font-family: "Roboto";
}

p {
    line-height: 25px;
}

/* portfolio */

.portfolio {
    width: 411px;
    display: block;
    margin: 0px auto;
    background-color: #f1f5f9;
    padding: 16px;
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* search-form */

.search-form {
    display: flex;
    align-items: center;
    transform-origin: top;
    width: 100%;
    margin-bottom: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-form input {
    width: 100%;
    height: 64px;
    border: none;
    border-radius: 6px;
}

/*profile card*/

.profile-photo-card {
    position: relative;
    padding-top: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile-image img {
    position: relative;
    width: 207px;
    height: 278px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0px 10px 20px rgba(28, 100, 242, 0.04),
        0px 2px 6px rgba(28, 100, 242, 0.04),
        0px 0px 1px rgba(28, 100, 242, 0.04);
    z-index: 3;
}

#pro-one {
    top: -15px;
    left: -15px;
}

#pro-two {
    right: -23px;
    bottom: -10px;
}

.bg-pattern {
    width: 140px;
    height: 241px;
    background: url("../../assets/images/bg-pattern.svg");
    background-repeat: repeat;
    background-size: 10px;
    position: absolute;
}

/* myself-card */

.myself {
    margin-bottom: 84px;
    width: 100%;
}

.myself-card {
    margin-bottom: 24px;
    width: 100%;
}

.myself-intro {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #282d56;
}

.myself-name {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #1b1f3b;
}

.myself-content {
    font-family: "Poppins";

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0b42c1;
}

.myself-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #1b1f3b;
}

/*button card*/

.btn {
    border-radius: 6px;
    border: none;
    background: #0b42c1;
    color: white;
    font-weight: 600;
    font-family: Poppins;
    padding: 14px 25px;
}

.btn:hover {
    cursor: pointer;
}

.btn::first-letter {
    text-transform: uppercase;
}

/*more about me*/

.about-me-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    width: 100%;
}

.me-tit {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #1b1f3b;
}

.paragraph {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #1b1f3b;
}

.one {
    margin-top: 8px;
    margin-bottom: 14px;
}

.italic {
    color: #333a68;
    font-style: italic;
    font-weight: bold;
}

/*skills card*/

.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    width: 100%;
}

.skill-tit {
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #1b1f3b;
    margin-bottom: 7px;
}

.skill-des {
    font-size: 14px;
    color: #1b1f3b;
    margin: 0px;
    width: 100%;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.skill-set {
    margin-right: 24px;
    margin-top: 20px;
}

.skill-name {
    font-family: Poppins;
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
    color: #0b42c1;
    margin-bottom: 8px;
}

.skill-list {
    line-height: 19px;
    color: #1b1f3b;
}

.skill-list div {
    margin-bottom: 4px;
}

/*experiance card*/

.experience-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    width: 100%;
}

.exp-tittle {
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #1b1f3b;
}

.exp-first {
    margin-top: 16px;
    margin-bottom: 20px;
}

.exp-first .exp-second {
    width: 100%;
}

.exp-company {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1b1f3b;
    /* margin-bottom: 4px; */
}

.exp-duration {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0b42c1;
    margin: 6px 0 6px 0;
}

.exp-role {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin: 8px 0 16px 0;
}

.exp-list {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.exp-points {
    margin-bottom: 8px;
}

/*service card*/

.service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;
    width: 100%;
}

.service-title {
    font-family: "Poppins";

    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #1b1f3b;
    margin-bottom: 16px;
}

.service-card {
    border-radius: 6px;
    background-color: #ffffff;
    width: 170px;
    height: 170px;
    border: 1px solid #1c64f2;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04),
        0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-text {
    font-family: Poppins;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #1b1f3b;
    margin-top: 20px;
}

.service-card-icon {
    width: 48px;
    height: auto;
    color: #1c64f2;
}

/*project card*/

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;
    width: 100%;
}

.project-heading {
    font-family: "Poppins";

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1b1f3b;
    margin-bottom: 16px;
}

.project-heading span {
    color: #1c64f2;
}

.project-panel {
    width: 100%;
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 16px;
}

.project-image img {
    border-radius: 6px 6px 0px 0px;
    width: 379px;
    height: 189px;
    object-fit: cover;
}

.project-about {
    padding: 16px 16px;
}

.project-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    color: #1b1f3b;
    margin: 0px;
}

.project-details {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #333a68;
}

.project-stack {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: rgba(27, 31, 59, 0.8);
    margin-top: 16px;
}

.project-stack span:nth-child(2) {
    margin-left: 8px;
}

.project-links {
    font-weight: 300;
    color: #1b1f3b;
    display: flex;
    margin-top: 24px;
}

.project-links div:nth-child(2) {
    margin-left: 24px;
}

.project-icon {
    color: #1b1f3b;
}

.project-link {
    display: flex;
}

.project-link a {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #1b1f3b;
    margin-left: 8px;
    /* text-decoration: none; */
    text-decoration-color: #1c64f2;
    text-decoration-thickness: 2px;
}

.project-link a:visited {
    color: #1b1f3b;
}

.project-link a:hover {
    color: #3f83f8;
}

/*client review*/

.client {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;
    width: 100%;
}

.client-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #1b1f3b;
    margin-bottom: 32px;
}
.client-container {
    display: flex;
    overflow: hidden;
    position: relative;
    /* min-width: 315px;
    max-width: 320px;
    min-height: 268px; */
}

.client-slide {
    min-width: 315px;
    max-width: 360px;
    min-height: 268px;
    /* padding: 16px;
    background: #ffffff; */
    border-radius: 6px;
    display: flex;
    transform: rotateX(0);
    transition: transform 0.25s;
}

.client-card {
    min-width: 315px;
    max-width: 320px;
    min-height: 268px;
    padding: 16px;
    background: #ffffff;
    border-radius: 6px;
    margin-left: 48px;
}

.client-card1 {
    margin-left: 0px;
}

.nxt-btn {
    margin-top: 16px;
}

/* .client-says {
    min-width: 315px;
    max-width: 320px;
    min-height: 268px;
    padding: 16px;
    background: #ffffff;
    border-radius: 6px;
} */

.client-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    font-weight: 500;
    font-size: 16px;
}

.client-image img {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    object-fit: cover;
}

.client-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.client-name {
    text-transform: capitalize;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1b1f3b;
}

.company-name {
    font-size: 12px;
    line-height: 14px;
    color: rgba(27, 31, 59, 0.8);
    margin-top: 4px;
}

.review {
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.review p:nth-child(1) {
    margin-top: 4px;
}

/* .star-icon img {
    color: #F05252;
} */

.star-icon img {
    width: auto;
    height: 18px;
    margin-top: 14px;
}

/* contact card */

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
    width: 100%;
}

.contact-title {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    color: #1b1f3b;
}

.contact-panel {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 16px;
    width: 100%;
}

.contact-group {
    margin-bottom: 16px;
}

.contact-content {
    margin-bottom: 24px;
    width: 100%;
}

.contact-subtitle {
    font-family: Poppins;

    font-size: 14px;
    line-height: 21px;
    color: #1b1f3b;
    margin-bottom: 4px;
}

.star {
    color: red;
}

.form-input {
    background-color: #f1f5f9;
    border-radius: 6px;
    border: 0px;

    color: rgba(27, 31, 59, 0.6);
    width: 100%;
    padding: 1rem;
    font-size: 14px;
    line-height: 16px;
}

.send-btn {
    display: flex;
    justify-content: end;
}

/* copyright card */

.copyright-card {
    text-align: center;
    margin-bottom: 24px;
}

.socialmedia-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin-bottom: 6px;
    margin-right: 12px;
}

.social-icon:nth-child(4) {
    margin-right: 0;
}

.social-icon a {
    width: 16px;
    height: 16px;
    color: #1b1f3b;
    line-height: 14px;
    text-decoration: none;
}

.social-icon a:hover {
    cursor: pointer;
    color: #3f83f8;
}

.owner {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #1b1f3b;
}
