<div class="myself-card">
    <div class="myself-intro">Hi, my name is</div>
    <div class="myself-name">Lorem Ipsum.</div>
    <div class="myself-content">Lorem Ipsum dolor sit amet consectus adipiscing.</div>
    <p class="myself-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus donec mattis neque morbi. Sed cursus metus urna commodo, ornare dui ut. Eu bibendum est, aliquam fermentum, nam justo, amet, lectus morbi. </P>
</div>