.myself-intro {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #282D56;
}

.myself-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #1B1F3B;
}

.myself-content {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0B42C1;
}

.myself-descr {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #1B1F3B;
}